
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 120px;
}

.reservation__title {
  padding-top: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  /* This class should only contain the external geometry for the form: the rules that are responsible for its position inside reservation block (its margins). */
/* All structural properties of the form that are essential to its internal structure, e.g. flexbox rules, should be given to the block class. */
  display: flex;
  justify-content: center;
  align-items: center;
}


