
.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  height: 100vh;
  /* min-height: 720px;
  max-height: 880px; */
  background-repeat: no-repeat;
  background-size: cover;

}
.form__title {
  margin: 0;
  padding: 100px 0 80px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;

}
.reservation {
  height: 100vh;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  padding-top: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  display: flex;
  justify-content: center;
  align-items: center;
}


